# NEON Default Power DNS Config
allow-recursion=127.0.0.1
config-dir=/etc/powerdns
launch=gmysql
gmysql-dbname=databasenamehere
gmysql-host=127.0.0.1
gmysql-socket=/var/lib/mysql/mysql.sock
gmysql-password=databasepasswordhere
gmysql-user=databaseusernamehere
local-address=0.0.0.0
local-port=53
module-dir=/usr/lib/powerdns
setgid=pdns
setuid=pdns
socket-dir=/var/run
version-string=powerdns

include=/etc/powerdns/pdns.d
